openapi: 3.0.1
info:
  title: EarthRef.org FIESTA API
  description: 
    The OpenAPI definition for EarthRef.org''s FIESTA API.<br/><br/>
  contact:
    email: admin@earthref.org
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  version: '1.0'
externalDocs:
  description: EarthRef.org
  url: https://earthref.org/
servers:
- url: https://api.earthref.org

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  parameters:
    repository:
      name: repository
      in: path
      description: Repository
      required: true
      schema:
        type: string
        enum: [MagIC, ERDA]
  responses:
    unauthorizedError:
      description: Authentication information is missing or invalid
      headers:
        Authenticate:
          schema:
            type: string

security:
  - basicAuth: []

paths:
  /v1/health-check:
    get:
      tags:
      - Fiesta API
      summary: Check the health of the API
      operationId: getHealthCheck
      responses:
        200:
          description: Health check passed
          content: {}
        500:
          description: Health check failed
          content: {}
  /v1/authenticate:
    get:
      tags:
      - Fiesta API
      summary: Authenticate a username and password
      operationId: authenticate
      responses:
        200:
          description: User Record
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                required:
                - name
        401:
          $ref: '#/components/responses/unauthorizedError'
  /v1/{repository}/download:
    get:
      tags:
      - Download
      summary: Download contribution files
      operationId: downloadContributionFiles
      parameters:
      - $ref: '#/components/parameters/repository'
      - name: n_max_contributions
        in: query
        description: Maximum number of contributions to download in descending timestamp order
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: query
        in: query
        description: One or more Elasticsearch query strings to match any data model text field
          (https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html)
        schema:
          type: string
      - name: id
        in: query
        description: One or more contribution IDs to match
        schema:
          type: array
          items:
            type: integer
            minimum: 1
      - name: doi
        in: query
        description: One or more DOIs to match
        schema:
          type: array
          items:
            type: string
      - name: contributor_name
        in: query
        description: One or more contributor names to match
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: Contribution is returned in the format requested by the accept header
        204:
          description: Contribution with reference DOI or contribution ID not found
          content: {}
  /v1/{repository}/search/{table}:
    get:
      tags:
      - Search
      summary: Retrieve public records
      operationId: searchByTable
      parameters:
      - $ref: '#/components/parameters/repository'
      - name: table
        in: path
        description: Record type
        required: true
        schema:
          type: string
      - name: n_max_rows
        in: query
        description: Max number of rows to return
        schema:
          type: integer
          minimum: 1
          maximum: 10000
      - name: from
        in: query
        description: Starting record number for paging
        schema:
          type: integer
          minimum: 1
      - name: query
        in: query
        description: One or more Elasticsearch query strings to match any data model text field
          (https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html)
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: Rows are returned in the format requested by the accept header
          content:
            application/json:
              schema:
                required:
                - contribution
                type: object
                properties:
                  contribution:
                    required:
                    - id
                    - version
                    - timestamp
                    - contributor
                    - data_model_version
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                        example: 10747
                      version:
                        example: 6
                      timestamp:
                        example: '2015-07-09T02:20:01.000Z'
                      contributor:
                        example: '@magic'
                      data_model_version:
                        example: '3.0'
                      reference:
                        example: '10.1029/93JB00024'
                example:
                  contribution:
                    id: 10747
                    version: 6
                    timestamp: '2015-07-09T02:20:01.000Z'
                    contributor: '@magic'
                    data_model_version: '3.0'
                    reference: '10.1029/93JB00024'
                  locations: [{
                    location: Hawaii
                  }]
  /v1/{repository}/upload:
    post:
      tags:
      - Upload
      summary: Upload contribution files
      operationId: uploadFiles
      security: 
      - basicAuth: []
      parameters:
      - $ref: '#/components/parameters/repository'
      - name: id
        in: query
        description: The ID of the contribution to which the file should be uploaded
        schema:
          type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                filename:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        200:
          description: File is uploaded to the contribution
        204:
          description: Contribution with reference DOI not found
          content: {}
        401:
          $ref: '#/components/responses/unauthorizedError'